body > * {
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  color: #fff;
  background-color: #111;
}

body {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#controlPanelDiv {
  display: flex;
  flex-direction: column;
  margin: .3em;
}

#toolPanelDiv, #optionsPanelDiv {
  border: 1px solid darkkhaki;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#optionsPanelDiv {
  margin-top: auto;
}

.toolButton {
  text-align: left;
  font-size: 16px;
  padding: 4px 12px 4px 12px;
  border: none;
  background-color: #222;
  color: grey;
  transition-duration: 0.1s;
  user-select: none;
  -webkit-user-select: none;
}

.toolButton:hover {
  color: darkgrey;
}

.toolButtonSelected {
  color: blue;
}


.toolButtonSelected:hover {
  color: dodgerblue;
}

button:focus {outline:0;}

#rightDiv {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  flex-basis: 100%;
}

#canv {
  cursor: none;
  border: 1px solid darkkhaki;
  margin: .3em;
  margin-left: 0;
  flex-grow: 1;
}

#cmdDiv {
  border: 1px solid darkkhaki;
  height: 2em;
  margin-right: .3em;
  margin-bottom: .3em;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

tr {
  border-bottom: 1px solid #303030;
}

tr:last-of-type {
  border-bottom: none;
}

td {
  font-family: monospace;
  vertical-align: middle;
  text-align: center;
  padding-top: .125em;
  border-left: 1px solid #303030;
}

td:first-of-type {
  padding-left: .3em;
  border-left: none;
}

td:last-of-type {
  padding-right: .3em;
}

