body > * {
  border: 1px solid darkkhaki;
}

body {
  margin: 0;
  overflow: hidden;
  color: #fff;
  background-color: #111;
}

#controlPanelDiv {
  position: absolute;
  margin: 2px;
  inset: 0;
  width: 9%;
}

#canv {
  position: absolute;
  margin: 2px;
  left: calc(9% + 2px);
}
